* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  align-items: center;
}
.product-card {
  position: relative;
  display: flex;
  width: 400px;
  height: 430px;
  line-height: 1.3;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  margin: 200px auto;
  overflow: hidden;
}
p {
  margin-left: 12px;
  text-align: left;
}
.prod_name {
  text-align: left;
  font-size: x-large;
  font-weight: bolder;
  margin: 12px 12px;
}
.prod_price {
  color: #dba30a;
  text-align: left;
  font-size: large;
  font-weight: bolder;
  margin: 4px 12px;
}
img {
  border-radius: 5px;
  height: 250px;
  width: 400px;
}
button {
  background-color: #28a745;
  color: white;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 12px;
  font-size: large;
  font-weight: bolder;
  margin: 12px 20px;
  cursor: pointer;
}
.discount {
  position: absolute;
  top: 14px;
  right: -16px;
  background-color: rgb(160, 37, 18);
  color: white;
  padding: 2px 18px;
  border-radius: 5px;
  font-size: 14 px;
  transform: rotate(45deg);
}
